@{
    ViewBag.Title = "Credits - The Flatterist";
}

<p>The Flatterist was built by <a href="http://blog.smarx.com">Steve Marx</a> (who also voices all the compliments), inspired by suggestions from <a href="http://twitter.com/amyrc">Amy Conklin (@@amyrc)</a>, Vikram Rana, and Todd Proebsting.</p>
<p>The background music is <span xmlns:cc="http://creativecommons.org/ns#" about="urn:sha1:CX6NHTAYF2DIQACYX3XRF45HHGQ3CISM"><a rel="cc:attributionURL" property="cc:attributionName" href="http://ccmixter.org/files/Klaus_Neumaier/14315">Piano Moods 1 by Klaus_N</a> (<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>)</span>.</p>
<p>The logo font is <a href="http://kevinandamanda.com/fonts/fontsforpeas/pea-olson/">Pea Olson</a>:
    <a href="http://www.kevinandamanda.com/fonts/fontsforpeas/"><img style="vertical-align: top" src="http://kevinandamanda.com/buttons/freehandwritingfonts.jpg" border="0" alt="I get the cutest handwriting fonts at Fonts for Peas! kevinandamanda.com/fonts"></a>
</p>